/* .slick-slider{
    padding: 0px 5px;
    margin: 0px 15px;
}
.slick-list{
    height: 285px;
}
.slick-arrow{ 
    border-radius: 30px;
    border:  1px solid #e30000;
    height:35px;
    width: 35px;
}
.slick-prev{
    top:-15px;
    left:1070px;
}
.slick-arrow:after ,.slick-arrow::before{
    color:#e30000 !important;
}
.slick-arrow:hover{
   background-color:#e30000 !important;
   color:"white"!important;
}
.slick-prev:hover:after ,.slick-arrow:hover::before{
    color:white !important;
}

.slick-next{
    top:-15px;
    right: 15px;
    font-size: "80px";
}
.slick-dots{
  
   margin-top: 90px;
  
   
}

.slick-list{
    height: 615px;
    width: 1155px;
} */


   /* use */

.slick-slider{
    padding: 0px 5px;
    margin: 0px 15px;
}
.slick-list{
    height: 350px;
}
.slick-arrow{ 
    border-radius: 30px;
    height:35px;
    width: 35px;
}
.slick-prev{
    top:-15px;
    left:1070px;
}
/* .slick-arrow:after ,.slick-arrow::before{
    color:#e30000 !important;
} */
/* .slick-arrow:hover{
   background-color:#e30000 !important;
   color:"white"!important;
} */
/* .slick-prev:hover:after ,.slick-arrow:hover::before{
    color:white !important;
} */

.slick-next{
    top:-15px;
    right: 15px;
    font-size: "80px";
}
.slick-dots{
    display: hidden;
   margin-top: 90px;
}
.slick-list{
    width: 1155px;
}

.slick-prev:before,
.slick-next:before {
  color: #e30000;
  font-size: 35px;
  border: 0;
  position: sticky;
  /* -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%; */ 
}

.truncate {
    text-overflow: ellipsis;
  
    /* Needed to make it work */
    overflow: hidden;
    white-space: nowrap;
  }

  .zoom {
    padding: 100px;
    transition: transform .2s; 
    height: 100px;
    margin: 0 auto;
  }

  .zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  /* #react-paginate ul {
    display: inline-block;
    margin-left: 20px;
    padding-left: 0;
 } */
 
 /* #react-paginate li {
    display: inline-block;
    border: 1px solid rgb(224, 224, 224);
    color: red;
    cursor: pointer;
    margin-right: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
 }
 
  #react-paginate li a {
      padding: 2px 5px;
      display: inline-block;
      color: #000;
      outline: none;
  }
  */
  .paginationBttns {
    width: 100%;
    height: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
.paginationBttns a{
    padding : 10px;
    margin: 5px;
    border: 1px solid #0047AB;
    color: #0047AB;
    border-radius: 5px;
    cursor: pointer;
}

/* .paginationBttns a:hover{
    color:white;
    background-color: #151719;
} */

.paginationActive a {
background-color: #0047AB;
color:white
}
.previousBttn a:hover{
    color:white
}
.btnGoogle{
width: 180px;
}
.google{
   float: left;
   margin-top: 13px;
}
